@font-face {
    font-family: "Bebas";
    src:url('../fonts/Bebas.woff2') format("woff2");
    src:url('../fonts/Bebas.woff') format("woff");
    src: url('../fonts/Bebas.ttf') format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "HelveticaNeue" sans-serif;
    src: url('../fonts/HelveticaNeue.woff') format("woff");
    src: url('../fonts/HelveticaNeue.woff2') format("woff2");
    src: url('../fonts/HelveticaNeue.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face  {
    font-family: "HelveticaNeue-Light" sans-serif;
    src: url('../fonts/HelveticaNeue-Light.woff2') format("woff2");
    src: url('../fonts/HelveticaNeue-Light.woff') format("woff");
    src: url('../fonts/HelveticaNeue-Light.ttf') format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}